# Create CSV file for product selling for 6 Months ( Prod_No | Prod_Name | Jan | Feb | Mar | Apr | May | Jun) for 5 products.Â¶

In [1]:
from csv import*
header = ['PNo','PName','jan','Feb','Mar','Apr','May','Jun']
with open('pro_l.csv','w',newline="") as FWrite:
       a= writer(FWrite)
       a.writerow(header)

# 1. Add 12 Records. Take input from user.

In [2]:
from csv import *
l=[]
with open('pro_l.csv','a',newline="") as f:
    fdata = writer(f)
    for i in range(12):
        prod_no = input("Enter  Number: ")
        prod_name = input("Enter Name: ")
        jan = int(input("Enter January Sale: "))
        feb = int(input("Enter February Sale: "))
        mar = int(input("Enter March Sale: "))
        apr = int(input("Enter April Sale: "))
        may = int(input("Enter May Sale: "))
        jun = int(input("Enter June Sale: "))
        pdata=[prod_no, prod_name,jan, feb,mar,apr,may,jun]
        l.append(pdata)
    fdata.writerows(l)

Enter  Number: 1
Enter Name: monitor
Enter January Sale: 5600
Enter February Sale: 6700
Enter March Sale: 4500
Enter April Sale: 3400
Enter May Sale: 2300
Enter June Sale: 8000
Enter  Number: 2
Enter Name: mouse
Enter January Sale: 4000
Enter February Sale: 5000
Enter March Sale: 4600
Enter April Sale: 4500
Enter May Sale: 3400
Enter June Sale: 5600
Enter  Number: 3
Enter Name: keybord
Enter January Sale: 6000
Enter February Sale: 9000
Enter March Sale: 4500
Enter April Sale: 5800
Enter May Sale: 3400
Enter June Sale: 4500
Enter  Number: 4
Enter Name: printer
Enter January Sale: 7000
Enter February Sale: 3000
Enter March Sale: 5900
Enter April Sale: 5760
Enter May Sale: 3400
Enter June Sale: 5800
Enter  Number: 5
Enter Name: ssd128
Enter January Sale: 6700
Enter February Sale: 300
Enter March Sale: 8000
Enter April Sale: 8900
Enter May Sale: 5600
Enter June Sale: 6700
Enter  Number: 6
Enter Name: ssd256
Enter January Sale: 7000
Enter February Sale: 3000
Enter March Sale: 4500
Enter April Sale: 6700
Enter May Sale: 6900
Enter June Sale: 9800
Enter  Number: 7
Enter Name: headphone
Enter January Sale: 7800
Enter February Sale: 4500
Enter March Sale: 2700
Enter April Sale: 5600
Enter May Sale: 4900
Enter June Sale: 6500
Enter  Number: 8
Enter Name: bluthooth mouse
Enter January Sale: 7000
Enter February Sale: 5800
Enter March Sale: 5800
Enter April Sale: 3700
Enter May Sale: 6800
Enter June Sale: 6900
Enter  Number: 9
Enter Name: ram chip
Enter January Sale: 1000
Enter February Sale: 1000
Enter March Sale: 1200
Enter April Sale: 4500
Enter May Sale: 1200
Enter June Sale: 4500
Enter  Number: 10
Enter Name: rom chip
Enter January Sale: 6789
Enter February Sale: 4000
Enter March Sale: 2800
Enter April Sale: 3400
Enter May Sale: 4000
Enter June Sale: 3500
Enter  Number: 11
Enter Name: laptop
Enter January Sale: 2000
Enter February Sale: 3400
Enter March Sale: 5700
Enter April Sale: 7900
Enter May Sale: 1200
Enter June Sale: 4800
Enter  Number: 12
Enter Name: charger
Enter January Sale: 6800
Enter February Sale: 3400
Enter March Sale: 6900
Enter April Sale: 3400
Enter May Sale: 4500
Enter June Sale: 4500

# 2. Create lframe.

In [21]:
from pandas import *
ab = read_csv('pro_l.csv')
print(ab)

    PNo            PName   jan   Feb   Mar   Apr   May   Jun
0     1          monitor  5600  6700  4500  3400  2300  8000
1     2            mouse  4000  5000  4600  4500  3400  5600
2     3          keybord  6000  9000  4500  5800  3400  4500
3     4          printer  7000  3000  5900  5760  3400  5800
4     5           ssd128  6700   300  8000  8900  5600  6700
5     6           ssd256  7000  3000  4500  6700  6900  9800
6     7        headphone  7800  4500  2700  5600  4900  6500
7     8  bluthooth mouse  7000  5800  5800  3700  6800  6900
8     9         ram chip  1000  1000  1200  4500  1200  4500
9    10         rom chip  6789  4000  2800  3400  4000  3500
10   11           laptop  2000  3400  5700  7900  1200  4800
11   12          charger  6800  3400  6900  3400  4500  4500

# 3. Change Column Name Product No, Product Name, January, February, March, April, May, June.

In [37]:
Column=['Product_No', 'Product_Name', 'January', 'February', 'March', 'April', 'May', 'June']
ab = DataFrame(a.values.tolist(),columns=Column)
print(ab)

    Product_No     Product_Name  January  February  March  April   May  June
0            1          monitor     5600      6700   4500   3400  2300  8000
1            2            mouse     4000      5000   4600   4500  3400  5600
2            3          keybord     6000      9000   4500   5800  3400  4500
3            4          printer     7000      3000   5900   5760  3400  5800
4            5           ssd128     6700       300   8000   8900  5600  6700
5            6           ssd256     7000      3000   4500   6700  6900  9800
6            7        headphone     7800      4500   2700   5600  4900  6500
7            8  bluthooth mouse     7000      5800   5800   3700  6800  6900
8            9         ram chip     1000      1000   1200   4500  1200  4500
9           10         rom chip     6789      4000   2800   3400  4000  3500
10          11           laptop     2000      3400   5700   7900  1200  4800
11          12          charger     6800      3400   6900   3400  4500  4500
12          23              dvd     6767      7600   6055   7900  7800  8700
13          24       motherbord     3356      4300   7850   6700  8706  7857

# 4. Add column "Total Sell" to count total of all month and "Average Sell"

In [38]:
Column=['Product_No', 'Product_Name', 'January', 'February', 'March', 'April', 'May', 'June']
data = c.values.tolist()
total=[sum(i[2::]) for i in data]
average=[int(sum(i[2::])/6) for i in data]
df = DataFrame(data,columns=Column)
df['Total']=total
df['Average']=average
print(df)

    Product_No     Product_Name  January  February  March  April   May  June  \
0            1          monitor     5600      6700   4500   3400  2300  8000
1            2            mouse     4000      5000   4600   4500  3400  5600
2            3          keybord     6000      9000   4500   5800  3400  4500
3            4          printer     7000      3000   5900   5760  3400  5800
4            5           ssd128     6700       300   8000   8900  5600  6700
5            6           ssd256     7000      3000   4500   6700  6900  9800
6            7        headphone     7800      4500   2700   5600  4900  6500
7            8  bluthooth mouse     7000      5800   5800   3700  6800  6900
8            9         ram chip     1000      1000   1200   4500  1200  4500
9           10         rom chip     6789      4000   2800   3400  4000  3500
10          11           laptop     2000      3400   5700   7900  1200  4800
11          12          charger     6800      3400   6900   3400  4500  4500

    Total  Average
0   30500     5083
1   27100     4516
2   33200     5533
3   30860     5143
4   36200     6033
5   37900     6316
6   32000     5333
7   36000     6000
8   13400     2233
9   24489     4081
10  25000     4166
11  29500     4916

# 5. Add 2 row at the end.

In [39]:
Column=['Product No', 'Product Name', 'January', 'February', 'March', 'April', 'May', 'June']
a.loc[len(a)+1]=[23,'dvd',6767,7600,6055,7900,7800,8700]
a.loc[len(a)+2]=[24,'motherbord',3356,4300,7850,6700,8706,7857]
print(a)

    PNo            PName   jan   Feb   Mar   Apr   May   Jun
0     1          monitor  5600  6700  4500  3400  2300  8000
1     2            mouse  4000  5000  4600  4500  3400  5600
2     3          keybord  6000  9000  4500  5800  3400  4500
3     4          printer  7000  3000  5900  5760  3400  5800
4     5           ssd128  6700   300  8000  8900  5600  6700
5     6           ssd256  7000  3000  4500  6700  6900  9800
6     7        headphone  7800  4500  2700  5600  4900  6500
7     8  bluthooth mouse  7000  5800  5800  3700  6800  6900
8     9         ram chip  1000  1000  1200  4500  1200  4500
9    10         rom chip  6789  4000  2800  3400  4000  3500
10   11           laptop  2000  3400  5700  7900  1200  4800
11   12          charger  6800  3400  6900  3400  4500  4500
13   23              dvd  6767  7600  6055  7900  7800  8700
15   23              dvd  6767  7600  6055  7900  7800  8700
16   24       motherbord  3356  4300  7850  6700  8706  7857

# 6. Add 2 row after 3rd row.

In [25]:
Column=['Product No', 'Product Name', 'January', 'February', 'March', 'April', 'May', 'June']
ab = read_csv('pro_l.csv')
ab.loc[2.5] = [56, 'Hardisk',70,76,76,78,87,67]
ab = ab.sort_index().reset_index(drop=True)
ab.loc[3.5] = [33, 'usb',40,48,60,45,56,21]
ab = ab.sort_index().reset_index(drop=True)
print(ab)

    PNo            PName   jan   Feb   Mar   Apr   May   Jun
0     1          monitor  5600  6700  4500  3400  2300  8000
1     2            mouse  4000  5000  4600  4500  3400  5600
2     3          keybord  6000  9000  4500  5800  3400  4500
3    56          Hardisk    70    76    76    78    87    67
4    33              usb    40    48    60    45    56    21
5     4          printer  7000  3000  5900  5760  3400  5800
6     5           ssd128  6700   300  8000  8900  5600  6700
7     6           ssd256  7000  3000  4500  6700  6900  9800
8     7        headphone  7800  4500  2700  5600  4900  6500
9     8  bluthooth mouse  7000  5800  5800  3700  6800  6900
10    9         ram chip  1000  1000  1200  4500  1200  4500
11   10         rom chip  6789  4000  2800  3400  4000  3500
12   11           laptop  2000  3400  5700  7900  1200  4800
13   12          charger  6800  3400  6900  3400  4500  4500

# 7. Print first 5 row.

In [40]:
column=['Product_No', 'Product_Name', 'January', 'February', 'March', 'April', 'May', 'June']
print(ab.head())

   Product_No Product_Name  January  February  March  April   May  June
0           1      monitor     5600      6700   4500   3400  2300  8000
1           2        mouse     4000      5000   4600   4500  3400  5600
2           3      keybord     6000      9000   4500   5800  3400  4500
3           4      printer     7000      3000   5900   5760  3400  5800
4           5       ssd128     6700       300   8000   8900  5600  6700

# 8. Print Last 5 row.

In [41]:
Column=['Product_No', 'Product_Name', 'January', 'February', 'March', 'April', 'May', 'June']
print(ab.tail())

    Product_No Product_Name  January  February  March  April   May  June
9           10     rom chip     6789      4000   2800   3400  4000  3500
10          11       laptop     2000      3400   5700   7900  1200  4800
11          12      charger     6800      3400   6900   3400  4500  4500
12          23          dvd     6767      7600   6055   7900  7800  8700
13          24   motherbord     3356      4300   7850   6700  8706  7857

# 9. Print row 6 to 10.

In [42]:
Column=['Product_No', 'Product_Name', 'January', 'February', 'March', 'April', 'May', 'June']
print(ab.loc[6:10])

    Product_No     Product_Name  January  February  March  April   May  June
6            7        headphone     7800      4500   2700   5600  4900  6500
7            8  bluthooth mouse     7000      5800   5800   3700  6800  6900
8            9         ram chip     1000      1000   1200   4500  1200  4500
9           10         rom chip     6789      4000   2800   3400  4000  3500
10          11           laptop     2000      3400   5700   7900  1200  4800

# 10. Print only product name.

In [44]:
ab = read_csv('pro_l.csv')
print(ab.PName)

0             monitor
1               mouse
2             keybord
3             printer
4              ssd128
5              ssd256
6           headphone
7     bluthooth mouse
8            ram chip
9            rom chip
10             laptop
11            charger
Name: PName, dtype: object

# 11. Print sell of January month with product id and product name.

In [45]:
print(ab[['PNo','PName','jan']])

    PNo            PName   jan
0     1          monitor  5600
1     2            mouse  4000
2     3          keybord  6000
3     4          printer  7000
4     5           ssd128  6700
5     6           ssd256  7000
6     7        headphone  7800
7     8  bluthooth mouse  7000
8     9         ram chip  1000
9    10         rom chip  6789
10   11           laptop  2000
11   12          charger  6800

# 12. Print only those product id , product name where january sell is > 5000 and February sell is >8000

In [48]:
df = read_csv('pro_l.csv')
print(df[(df["jan"] > 5000) & (df["Feb"] > 8000)][["PNo", "PName"]])

   PNo    PName
2    3  keybord

# 13. Print record in sorting order of Product name.

In [49]:
print(df.sort_values(by="PName"))

    PNo            PName   jan   Feb   Mar   Apr   May   Jun
7     8  bluthooth mouse  7000  5800  5800  3700  6800  6900
11   12          charger  6800  3400  6900  3400  4500  4500
6     7        headphone  7800  4500  2700  5600  4900  6500
2     3          keybord  6000  9000  4500  5800  3400  4500
10   11           laptop  2000  3400  5700  7900  1200  4800
0     1          monitor  5600  6700  4500  3400  2300  8000
1     2            mouse  4000  5000  4600  4500  3400  5600
3     4          printer  7000  3000  5900  5760  3400  5800
8     9         ram chip  1000  1000  1200  4500  1200  4500
9    10         rom chip  6789  4000  2800  3400  4000  3500
4     5           ssd128  6700   300  8000  8900  5600  6700
5     6           ssd256  7000  3000  4500  6700  6900  9800

# 14. Display only odd index number column record.

In [50]:
print(df.iloc[1::2])

    PNo            PName   jan   Feb   Mar   Apr   May   Jun
1     2            mouse  4000  5000  4600  4500  3400  5600
3     4          printer  7000  3000  5900  5760  3400  5800
5     6           ssd256  7000  3000  4500  6700  6900  9800
7     8  bluthooth mouse  7000  5800  5800  3700  6800  6900
9    10         rom chip  6789  4000  2800  3400  4000  3500
11   12          charger  6800  3400  6900  3400  4500  4500

# 15. Display alternate row.

In [51]:
print(df.iloc[::2])

    PNo      PName   jan   Feb   Mar   Apr   May   Jun
0     1    monitor  5600  6700  4500  3400  2300  8000
2     3    keybord  6000  9000  4500  5800  3400  4500
4     5     ssd128  6700   300  8000  8900  5600  6700
6     7  headphone  7800  4500  2700  5600  4900  6500
8     9   ram chip  1000  1000  1200  4500  1200  4500
10   11     laptop  2000  3400  5700  7900  1200  4800

In [52]:
df

    PNo            PName   jan   Feb   Mar   Apr   May   Jun
0     1          monitor  5600  6700  4500  3400  2300  8000
1     2            mouse  4000  5000  4600  4500  3400  5600
2     3          keybord  6000  9000  4500  5800  3400  4500
3     4          printer  7000  3000  5900  5760  3400  5800
4     5           ssd128  6700   300  8000  8900  5600  6700
5     6           ssd256  7000  3000  4500  6700  6900  9800
6     7        headphone  7800  4500  2700  5600  4900  6500
7     8  bluthooth mouse  7000  5800  5800  3700  6800  6900
8     9         ram chip  1000  1000  1200  4500  1200  4500
9    10         rom chip  6789  4000  2800  3400  4000  3500
10   11           laptop  2000  3400  5700  7900  1200  4800
11   12          charger  6800  3400  6900  3400  4500  4500